<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"rel="stylesheet">
    <link rel="stylesheet" href="style-home.css">
    <title>Pinnacle</title>
</head>
<body>
    <section class="container">
    <header class="header-container">
        <nav class="navbar">
            <div class="logo">
                <h3>Pinnacle</h3>
            </div>
            <ul class="nav-links">
                <li><a href="#solucoes-nav">Soluções</a></li>
                <li class="center"><a href="#produtos-nav">Produtos</a></li>
                <li class="upward"><a href="consultoria.html">Consultoria</a></li>
                <li class="forward"><a href="suporte.html">Suporte</a></li>
                <div id="toggle">
                  <i class="indicator"></i>
                </div>
                <script>
                  const body = document.querySelector('body');
                  const toggle = document.getElementById('toggle');
                  toggle.onclick = function(){
                  toggle.classList.toggle('active');
                  body.classList.toggle('active');
                  }
                </script>
              </ul>
        </nav>
    </header>
    <div class="section-01">
    </div>
    <section>
        <div class="title-main">
          <p>Pinn<span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
            <h2>A Plataforma de <span>Dados e IA</span></h2>
            <div class="button-forms">
                <a href="forms.html"><button class="button-52" role="button">Inicie com a Pinnacle</button></a>
            </div>
        </div>
    </section>
</section>
    <section id="solucoes-nav" class="info-01">
        <div class="mensagem-borda">
            <h3>Pinnacle tem um <b>Propósito!</b></h3>
            <div class="text-container">
                
                <div id="text-01">
                    <svg id="svg-icon" xmlns="http://www.w3.org/2000/svg" width="62" height="62" fill="currentColor #000000" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
                        <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"/>
                      </svg>
                      <h6>Seu Negócio</h6>
                      <p>No mundo dos negócios, <br> o cliente é a pedra angular do <br> sucesso de qualquer empresa. <br> Aqui na Pinnacle, entendemos <br> profundamente o valor de <br> cada cliente e estamos <br> comprometidos em demonstrar, <br> todos os dias, o nosso propósito.</p>
                </div>
                <div id="text-02">
                    <svg id="svg-icon" xmlns="http://www.w3.org/2000/svg" width="62" height="62" fill="currentColor #000000" class="bi bi-box" viewBox="0 0 16 16">
                        <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                      </svg>
                      <h6>Soluções</h6>
                      <p>Estamos sempre em busca <br> de maneiras de melhorar e inovar. <br> Sabemos que as necessidades e <br> expectativas dos clientes estão <br> em constante evolução, e é <br> por isso que investimos em pesquisa <br> e desenvolvimento estratégico.<br>Soluções para seu negócio!</p>
                </div>
                <div id="text-03">
                    <svg id="svg-icon" xmlns="http://www.w3.org/2000/svg" width="62" height="62" fill="currentColor #000000" class="bi bi-currency-bitcoin" viewBox="0 0 16 16">
                        <path d="M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25L5.5 13zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28V4.487zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927V8.539z"/>
                      </svg>
                      <h6>Resultado</h6>
                      <p> Quando você prospera, nós <br> na Pinnacle prosperamos juntos, <br> criando um ciclo virtuoso de sucesso. <br> Venha fazer parte da nossa história, <br> onde desvendamos segredos para <br> impulsionar o seu crescimento e <br> alcançar resultados extraordinários <br> de maneira inovadora para teu sucesso. </p>
                </div>
            </div>
        </div>
    </section>
    <div class="ag-format-container">
        <br><h3 id="produtos-nav">Produtos</h3>
        <div class="ag-courses_box">
          
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                "Pinnacle Cloud&#160;2023"
              </div>
      
              <div class="ag-courses-item_date-box">
                Start:
                <span class="ag-courses-item_date">
                  04.10.2023
                </span>
              </div>
            </a>
          </div>
      
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                Big Data
              </div>
      
              <div class="ag-courses-item_date-box">
                Start:
                <span class="ag-courses-item_date">
                  10.10.2023
                </span>
              </div>
            </a>
          </div>
      
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                Web Design
              </div>
      
              <div class="ag-courses-item_date-box">
                Start:
                <span class="ag-courses-item_date">
                  30.11.2022
                </span>
              </div>
            </a>
          </div>
      
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg"></div>
      
              <div class="ag-courses-item_title">
                Front-end &#160;+ Selenium &#160;
              </div>
              
            </a>
          </div>
      
          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg">
              </div>
              <div class="ag-courses-item_title">
                Blockchain
              </div>
            </a>
          </div>

          <div class="ag-courses_item">
            <a href="#" class="ag-courses-item_link">
              <div class="ag-courses-item_bg">
              </div>
              <div class="ag-courses-item_title">
                Data Science + IA
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="card-section">
        <h3>Assinaturas</h3>
      <div class="card-holder">
        <a href="#" class="card">
          <div class="logo" style="
                background: linear-gradient(135deg, #3da620 0%, #061700 100%);
              ">
            <img src="img/resultadopng.png" />
          </div>
          <div class="content-container">
            <div class="content content-1">
              <h3>Resultados</h3>
              <p>Mais resultado em sua empresa!</p>
            </div>
            <div class="content content-2">
              <h3>Pinnacle</h3>
              <p></p>
            </div>
          </div>
        </a>
        <a href="#" class="card">
          <div class="logo" style="
                background: linear-gradient(135deg, #f7ff00 0%, #db36a4 100%);
              ">
            <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/nginxpm.png" />
          </div>
          <div class="content-container">
            <div class="content content-1">
              <h3>Data Science</h3>
              <p>Explore insights estratégicos!</p>
            </div>
            <div class="content content-2">
              <h3>Pinnacle</h3>
              <p></p>
            </div>
          </div>
        </a>
        <a href="#" class="card">
          <div class="logo" style="
                background: linear-gradient(135deg, #8f94fb 0%, #4e54c8 100%);
              ">
            <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/portainer.png" />
          </div>
          <div class="content-container">
            <div class="content content-1">
              <h3>Nuvem Pinn</h3>
              <p>Nosso sistema de nuvem!</p>
            </div>
            <div class="content content-2">
              <h3>Pinnacle</h3>
              <p></p>
            </div>
          </div>
        </a>
        <a href="#" class="card">
          <div class="logo" style="
                background: linear-gradient(135deg, #f5af19 0%, #f12711 100%);
              ">
            <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/proxmox.png" />
          </div>
          <div class="content-container">
            <div class="content content-1">
              <h3>IA</h3>
              <p>Implemente IA no seu negócio!</p>
            </div>
            <div class="content content-2">
              <h3>Pinnacle</h3>
              <p></p>
            </div>
          </div>
        </a>
        <a href="#" class="card">
          <div class="logo" style="
                background: linear-gradient(135deg, #00d2ff 0%, #3a7bd5 100%);
              ">
            <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/tplink.png" />
          </div>
          <div class="content-container">
            <div class="content content-1">
              <h3>Produtos</h3>
              <p>Tenha acesso aos produtos!</p>
            </div>
            <div class="content content-2">
              <h3>Pinnacle</h3>
              <p></p>
            </div>
          </div>
        </a>
        <a href="#" class="card">
          <div class="logo" style="
                background: linear-gradient(135deg, #2980b9 0%, #2c3e50 100%);
              ">
            <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/truenas.png" />
          </div>
          <div class="content-container">
            <div class="content content-1">
              <h3>Consultoria</h3>
              <p>Assine e ganhe uma Consultoria!</p>
            </div>
            <div class="content content-2">
              <h3>Pinnacle</h3>
              <p></p>
            </div>
          </div>
        </a>
      </div>
      <div class="button-forms-02">
        <a href="consultoria.html"><button class="button-52" role="button">Inicie com a Pinnacle</button></a>
    </div>
    </div>
    <div class="banner">
      <video width="100%" height="" autoplay loop muted plays-inline>
          <source src= "img/Vídeo para Startup de Atualizações da Equipe Estilo Ilustração 2D Azul-escuro Verde.mp4" type="video/mp4" >
      </video>
</div>

<footer>
  <div class="container">
      <div class="row">
            <div class="col" id="company">
                <h3>Tir-eStore</h3>
                <a href="https://www.linkedin.com/in/henrique-dourado-domingos/"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 16 16">
                  <path d="M0 1.146C0 .513.526 0 1.175 0h13.65C15.474 0 16 .513 16 1.146v13.708c0 .633-.526 1.146-1.175 1.146H1.175C.526 16 0 15.487 0 14.854V1.146zm4.943 12.248V6.169H2.542v7.225h2.401zm-1.2-8.212c.837 0 1.358-.554 1.358-1.248-.015-.709-.52-1.248-1.342-1.248-.822 0-1.359.54-1.359 1.248 0 .694.521 1.248 1.327 1.248h.016zm4.908 8.212V9.359c0-.216.016-.432.08-.586.173-.431.568-.878 1.232-.878.869 0 1.216.662 1.216 1.634v3.865h2.401V9.25c0-2.22-1.184-3.252-2.764-3.252-1.274 0-1.845.7-2.165 1.193v.025h-.016a5.54 5.54 0 0 1 .016-.025V6.169h-2.4c.03.678 0 7.225 0 7.225h2.4z"/>
                </svg></a> <a href="https://github.com/henriquedouradoo"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                  <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                </svg></a>
                <p>
                  2023 © Henrique Dourado, All Rights Reserved
                </p>
            </div>
  </div>
</footer>

    <script src="pinnacle.js"></script>
</body>
</html>