<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="style-home.css">
    <title>Pinnacle</title>
</head>
<body>
    <section class="container">
    <header class="header-container">
        <nav class="navbar">
            <div class="logo">
                <h3>Pinnacle</h3>
            </div>
            <ul class="nav-links">
                <li><a href="#solucoes-nav">Soluções</a></li>
                <li class="center"><a href="produtos.html">Produtos</a></li>
                <li class="upward"><a href="consultoria.html">Consultoria</a></li>
                <li class="forward"><a href="suporte.html">Suporte</a></li>
              </ul>
        </nav>
    </header>
    <div class="section-01">
    </div>
    <section>
        <div class="title-main">
          <p>Pinn<span class="typed-text"></span><span class="cursor">&nbsp;</span></p>
            <h2>A Plataforma de <span>Dados e IA</span></h2>
            <div class="button-forms">
                <a href="forms.html"><button class="button-52" role="button">Inicie com a Pinnacle</button></a>
            </div>
        </div>
    </section>
</section>
    <section id="solucoes-nav" class="info-01">
        <div class="mensagem-borda">
            <h3>Pinnacle tem um <b>Propósito!</b></h3>
            <div class="text-container">
                
                <div id="text-01">
                    <svg id="svg-icon" xmlns="http://www.w3.org/2000/svg" width="62" height="62" fill="currentColor #000000" class="bi bi-bar-chart-line" viewBox="0 0 16 16">
                        <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2zm1 12h2V2h-2v12zm-3 0V7H7v7h2zm-5 0v-3H2v3h2z"/>
                      </svg>
                      <h6>Seu Negócio</h6>
                      <p>No mundo dos negócios, <br> o cliente é a pedra angular do <br> sucesso de qualquer empresa. <br> Aqui na Pinnacle, entendemos <br> profundamente o valor de <br> cada cliente e estamos <br> comprometidos em demonstrar, <br> todos os dias, o nosso propósito.</p>
                </div>
                <div id="text-02">
                    <svg id="svg-icon" xmlns="http://www.w3.org/2000/svg" width="62" height="62" fill="currentColor #000000" class="bi bi-box" viewBox="0 0 16 16">
                        <path d="M8.186 1.113a.5.5 0 0 0-.372 0L1.846 3.5 8 5.961 14.154 3.5 8.186 1.113zM15 4.239l-6.5 2.6v7.922l6.5-2.6V4.24zM7.5 14.762V6.838L1 4.239v7.923l6.5 2.6zM7.443.184a1.5 1.5 0 0 1 1.114 0l7.129 2.852A.5.5 0 0 1 16 3.5v8.662a1 1 0 0 1-.629.928l-7.185 2.874a.5.5 0 0 1-.372 0L.63 13.09a1 1 0 0 1-.63-.928V3.5a.5.5 0 0 1 .314-.464L7.443.184z"/>
                      </svg>
                      <h6>Soluções</h6>
                      <p>Estamos sempre em busca <br> de maneiras de melhorar e inovar. <br> Sabemos que as necessidades e <br> expectativas dos clientes estão <br> em constante evolução, e é <br> por isso que investimos em pesquisa <br> e desenvolvimento estratégico.<br>Soluções para seu negócio!</p>
                </div>
                <div id="text-03">
                    <svg id="svg-icon" xmlns="http://www.w3.org/2000/svg" width="62" height="62" fill="currentColor #000000" class="bi bi-currency-bitcoin" viewBox="0 0 16 16">
                        <path d="M5.5 13v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.5v1.25c0 .138.112.25.25.25h1a.25.25 0 0 0 .25-.25V13h.084c1.992 0 3.416-1.033 3.416-2.82 0-1.502-1.007-2.323-2.186-2.44v-.088c.97-.242 1.683-.974 1.683-2.19C11.997 3.93 10.847 3 9.092 3H9V1.75a.25.25 0 0 0-.25-.25h-1a.25.25 0 0 0-.25.25V3h-.573V1.75a.25.25 0 0 0-.25-.25H5.75a.25.25 0 0 0-.25.25V3l-1.998.011a.25.25 0 0 0-.25.25v.989c0 .137.11.25.248.25l.755-.005a.75.75 0 0 1 .745.75v5.505a.75.75 0 0 1-.75.75l-.748.011a.25.25 0 0 0-.25.25v1c0 .138.112.25.25.25L5.5 13zm1.427-8.513h1.719c.906 0 1.438.498 1.438 1.312 0 .871-.575 1.362-1.877 1.362h-1.28V4.487zm0 4.051h1.84c1.137 0 1.756.58 1.756 1.524 0 .953-.626 1.45-2.158 1.45H6.927V8.539z"/>
                      </svg>
                      <h6>Resultado</h6>
                      <p> Quando você prospera, nós <br> na Pinnacle prosperamos juntos, <br> criando um ciclo virtuoso de sucesso. <br> Venha fazer parte da nossa história, <br> onde desvendamos segredos para <br> impulsionar o seu crescimento e <br> alcançar resultados extraordinários <br> de maneira inovadora para teu sucesso. </p>
                </div>
            </div>
        </div>
    </section>

    <div id="slide">
      <div class="ag-format-container">
          <h3 id="produtos-nav">Resultados</h3>
          <div class="item" style="background-image: url(img/pexels-emma-li-5199173.jpg);">
              <div class="content">
                  <div class="name">Resultados</div>
                  <div class="des">Nossas imagens feitas de pura Inteligência Artificial</div>
                  <a href="produtos.html"><button>Ver mais</button></a>
              </div>
          </div>
          <div class="item" style="background-image: url(img/pexels-maksim-goncharenok-4596636.jpg);">
              <div class="content">
                <div class="name">Resultados</div>
                <div class="des">Nossas imagens feitas de pura Inteligência Artificial</div>
                <a href="produtos.html"><button>Ver mais</button></a>
              </div>
          </div>
          <div class="item" style="background-image: url(img/pexels-ozan-çulha-18675712.jpg);">
              <div class="content">
                <div class="name">Resultados</div>
                <div class="des">Nossas imagens feitas de pura Inteligência Artificial</div>
                <a href="produtos.html"><button>Ver mais</button></a>
              </div>
          </div>
          <div class="item" style="background-image: url(img/01.jpg);">
              <div class="content">
                <div class="name">Resultados</div>
                <div class="des">Nossas imagens feitas de pura Inteligência Artificial</div>
                <a href="produtos.html"><button>Ver mais</button></a>
              </div>
          </div>
          <div class="item" style="background-image: url(img/pexels-oleksandr-p-1004542.jpg);">
              <div class="content">
                <div class="name">Resultados</div>
                <div class="des">Nossas imagens feitas de pura Inteligência Artificial</div>
                <a href="produtos.html"><button>Ver mais</button></a>
              </div>
          </div>
          <div class="item" style="background-image: url(img/03.jpg);">
              <div class="content">
                <div class="name">Resultados</div>
                <div class="des">Nossas imagens feitas de pura Inteligência Artificial</div>
                <a href="produtos.html"><button>Ver mais</button></a>
              </div>
          </div>
      </div>
      <div class="buttons">
          <button id="next"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
          </svg></i></button>
          <button id="prev"><svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
          </svg></button>
          
      </div>
  </div>
  
      <div class="card-section">
        <h3>Assinaturas</h3>
      <div class="card-holder">
        <a href="#" class="card">
          <div class="logo" style="
                background: linear-gradient(135deg, #3da620 0%, #061700 100%);
              ">
            <img src="img/resultadopng.png" />
          </div>
          <div class="content-container">
            <div class="content content-1">
              <h3>Resultados</h3>
              <p>Mais resultado em sua empresa!</p>
            </div>
            <div class="content content-2">
              <h3>Pinnacle</h3>
              <p></p>
            </div>
          </div>
        </a>
        <a href="#" class="card">
          <div class="logo" style="
                background: linear-gradient(135deg, #f7ff00 0%, #db36a4 100%);
              ">
            <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/nginxpm.png" />
          </div>
          <div class="content-container">
            <div class="content content-1">
              <h3>Data Science</h3>
              <p>Explore insights estratégicos!</p>
            </div>
            <div class="content content-2">
              <h3>Pinnacle</h3>
              <p></p>
            </div>
          </div>
        </a>
        <a href="#" class="card">
          <div class="logo" style="
                background: linear-gradient(135deg, #8f94fb 0%, #4e54c8 100%);
              ">
            <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/portainer.png" />
          </div>
          <div class="content-container">
            <div class="content content-1">
              <h3>Nuvem Pinn</h3>
              <p>Nosso sistema de nuvem!</p>
            </div>
            <div class="content content-2">
              <h3>Pinnacle</h3>
              <p></p>
            </div>
          </div>
        </a>
        <a href="#" class="card">
          <div class="logo" style="
                background: linear-gradient(135deg, #f5af19 0%, #f12711 100%);
              ">
            <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/proxmox.png" />
          </div>
          <div class="content-container">
            <div class="content content-1">
              <h3>IA</h3>
              <p>Implemente IA no seu negócio!</p>
            </div>
            <div class="content content-2">
              <h3>Pinnacle</h3>
              <p></p>
            </div>
          </div>
        </a>
        <a href="#" class="card">
          <div class="logo" style="
                background: linear-gradient(135deg, #00d2ff 0%, #3a7bd5 100%);
              ">
            <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/tplink.png" />
          </div>
          <div class="content-container">
            <div class="content content-1">
              <h3>Produtos</h3>
              <p>Tenha acesso aos produtos!</p>
            </div>
            <div class="content content-2">
              <h3>Pinnacle</h3>
              <p></p>
            </div>
          </div>
        </a>
        <a href="#" class="card">
          <div class="logo" style="
                background: linear-gradient(135deg, #2980b9 0%, #2c3e50 100%);
              ">
            <img src="https://cdn.ethancopping.com/codepen/Interactive%20Dual%20Hover%20Card/truenas.png" />
          </div>
          <div class="content-container">
            <div class="content content-1">
              <h3>Consultoria</h3>
              <p>Assine e ganhe uma Consultoria!</p>
            </div>
            <div class="content content-2">
              <h3>Pinnacle</h3>
              <p></p>
            </div>
          </div>
        </a>
      </div>
      <div class="button-forms-02">
        <a href="consultoria.html"><button class="button-52" role="button">Inicie com a Pinnacle</button></a>
    </div>
    </div>
    <div class="banner">
      <video width="100%" height="" autoplay loop muted plays-inline>
          <source src= "img/Vídeo para Startup de Atualizações da Equipe Estilo Ilustração 2D Azul-escuro Verde.mp4" type="video/mp4" >
      </video>
</div>

<footer>
  <div class="container-footer">
      <div class="row-footer">
          <div class="footer-col">
              <h4>Empresa</h4>
              <ul>
                  <li><a href="#"> Quem somos </a></li>
                  <li><a href=""> nossos serviços </a></li>
                  <li><a href=""> política de privacidade </a></li>
                  <li><a href=""> programa de afiliados</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>Obter ajuda</h4>
              <ul>
                  <li><a href="#">FAQ</a></li>
                  <li><a href="#">Transporte</a></li>
                  <li><a href="#">devoluções</a></li>
                  <li><a href="#">Assinaturas</a></li>
                  <li><a href="#">Opções De Pagamento</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>Pinnacle</h4>
              <ul>
                  <li><a href="#">Consultoria</a></li>
                  <li><a href="#">Produtos</a></li>
                  <li><a href="#">Soluções</a></li>
                  <li><a href="#">Suporte</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>Se subescreva!</h4>
              <div class="form-sub">
                  <form>
                      <input type="email" placeholder="Digite o seu e-mail" required>
                      <button>subscrever</button>
                  </form>
              </div>

              <div class="medias-socias">
                  <a href="https://github.com/henriquedouradoo"> <i class="fa fa-github"></i> </a>
                  <a href="#"> <i class="fa fa-instagram"></i> </a>
                  <a href="https://www.linkedin.com/in/henrique-dourado-domingos"> <i class="fa fa-linkedin"></i> </a>
              </div>
              <br>Visitas<noscript><img src="https://counter6.optistats.ovh/private/contadorvisitasgratis.php?c=zta7p7ybq8ap6d5drmumuzl7cqkxbsaq" border="0" alt="descargar contador de visitas"></a></noscript>
              <a><img src="https://counter6.optistats.ovh/private/contadorvisitasgratis.php?c=zta7p7ybq8ap6d5drmumuzl7cqkxbsaq" border="0"  alt="descargar contador de visitas"></a>
          </div>
      </div>
  </div>
</footer>
  
    <script src="pinnacle.js"></script>
    <script src="slide.js"></script>
</body>
</html>