<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="stylesheet" href="style-home.css">
    <title>Pinnacle</title>
</head>
<body>
    <header class="header-container">
        <nav class="navbar">
            <div class="logo">
                <h3>Pinnacle</h3>
            </div>
            <ul>
                <a href=""><li>Produtos</li></a>
                <a href=""><li>Soluções</li></a>
                <a href=""><li>Consultoria</li></a>
                <a href=""><li>Suporte</li></a>
            </ul>
        </nav>
    </header>
    <div class="section-01">
    </div>
    <section>
        <div class="title-main">
            <h1>Pinnacle</h1>
            <h2>A Plataforma de Dados e IA</h2>
        </div>
    </section>
    
</body>
</html>